<body class="hold-transition login-page">
    <div class="login-logo">
        <a><img src="assets/images11/jwtlogo.webp" width="100px" height="100px" /></a>
      </div>
    <h1>JWT Authenticator</h1>
    <div class="login-box">
      <div class="login-logo"></div>
     
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Register in to start your session</p>
          <form login='loginForm'>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name"
                  id="name" name="name" 
                  [(ngModel)]='username' [ngModelOptions]="{standalone:true}">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
                <br>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Last Name"
                  id="nlast ame" name="lastname" 
                  [(ngModel)]='userlastname' [ngModelOptions]="{standalone:true}">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
                <br>
              </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" ngModel #emailref="ngModel"
                [(ngModel)]='useremail' [ngModelOptions]="{standalone:true}">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
              <br>
            </div>
            <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)"
              class="alert alert-danger alert-dismissible">
              <div [hidden]="!emailref.errors?.pattern">
                Invalid pattern
              </div>
            </div>
            <div class="input-group mb-3">
  
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]='password'
                [ngModelOptions]="{standalone:true}">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="col-4">
                <a href="#" routerLink="/login" class="text-center">Login</a>
     
              <button type="button" class="btn btn-primary btn-block" (click)='registerUser()'>Register</button>
  
            </div>
          </form>
        </div>
      </div>
     
    </div>
  </body>
  